body {
    background-color: black;
    
} 

h1 {
    color:  white;
    text-align: center;
    
    border: 2px solid;
    border-color: black;
    border-radius: 10px;
    background-image: url(bailables.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100% 100%;
}

.bailables1 {
    color: black;
    text-align: left;

    
    border: 2px solid;
    border-radius: 10px;
    border-color: black;
    background-image: url(bailables2.webp);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100% 100%;  
}

.bailables2 {
    color: black;
    text-align: left;
    margin-top: 30px;

    border: 2px solid;
    border-color: black;
    border-radius: 10px;
    background-image: url(bailables2.webp);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100% 100%;  
}

.bailables3 {
    color: black;
    text-align: left;
    margin-top: 30px;

    border: 2px solid;
    border-color: black;
    border-radius: 10px;
    background-image: url(bailables2.webp);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100% 100%;  
}

.volver {
    text-align: left;
    margin-top: 10px;

    border: 2px solid;
    border-radius: 5px;
    border-color: white;
    background: white;

}
